# Исключить виртуальную среду
venv/

# Исключить файлы IDE (например, PyCharm)
.idea/

# Лог-файлы
*.log

# Папки для тестов (если они будут)
__pycache__/
*.pyc

# SQLite базы данных (если ты не хочешь их коммитить)
*.db
